<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      lang="en">
      
<head>
<script type="text/javascript" src="++resource++plone.app.jquery.js"></script>
    <script type="text/javascript" src="++resource++plone.app.jquerytools.js"></script>
    <script type="text/javascript" src="++resource++plone.app.jquerytools.overlayhelpers.js"></script>
    <script type="text/javascript" src="++resource++plone.app.jquerytools.form.js"></script>
	<script type="text/javascript" src="++resource++ind_main.js"></script>
	
      
</head>
<body>
<div id="tree" class="ui-layout-east">
    <ul class="panel-tabs">
        <li class="tab">
            <a id="ex" href="Plone/nashi-proekty/ontofolder/elearn/@@manager" class="item-tree" title="tree" i18n:attributes="title"><span i18n:translate="">Tree</span></a>
        </li>
        <li class="tab">
            <a href="#" class=".overlay_popup" title="tree" i18n:attributes="title"><span i18n:translate="">Debug</span></a>
        </li>
        <li class="tab">
            <a href="#" class="item-plone" title="tree" i18n:attributes="title"><span i18n:translate="">Plone</span></a>
        </li>
    </ul>
        
</div>
<div id="content"></div>
</body>
</html>
